<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Tên sách</th>
    <th scope="col">Tác Giả</th>
    <th scope="col">View</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let b of bookList; index as i">
    <th scope="row">{{b.id}}</th>
    <td>{{b.title}}</td>
    <td>{{b.author}}</td>
    <td><a [routerLink]="['/book', b.id]">View</a></td>
    <td><a [routerLink]="['/book', b.id, 'edit']">Edit</a></td>
    <td><button (click)="deleteBook(i)">Delete</button></td>
  </tr>
  </tbody>
</table>
